API_HOST=http://127.0.0.1
API_PORT=8000

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=auth_database
DB_USER=app
DB_PASS=123qwe

JWT_SECRET_KEY=should match the flask_api value!!!
JWT_ALGORITHMS=HS256